    BODY 	    	{
		background-color: #EEEEEE; 
		font-size: 12px; 
		font-family: Verdana;
	}
	
  	.post	    {
		background-color: #FFFFFF; 
		font-size: 11px; 
		color: #000000;
	}	
	
	.post A 		{ text-decoration: underline; }
		
    A 		    	{ text-decoration: none; }
    A:active 	    { color: #000000; }
    A:visited 	    { color: #000000; }
	A:link 	    	{ color: #000000; }
    A:hover 	    { color: #D80E0E; }
	

	
    .blackBacking   { background-color: #000000; }
	img  { border : 0; }
	font {
		font-family: Verdana; 
	}
		
    .DEK 			{
		POSITION: absolute;
	
		
	}

    .calBackground  {
		background-color: #FFFFFF; 
		font-size: 11px; 
		color: #000000;
	}
	
	.colbackground 	{
		background-image: url("images/topbar.jpg");
		background-color: #FFFFFF;
		font-family: Verdana; 
	}
	
	.colFuture 	{
		background-image: url("images/topbar_future.jpg");
		background-color: #FFFFFF;
		font-family: Verdana; 
	}
	
	.colPast 	{
		background-image: url("images/topbar_past.jpg");
		background-color: #FFFFFF;
		font-family: Verdana; 
	}
	
	.colnow 	{
		background-image: url("images/topbar_now.jpg");
		background-color: #FFFFFF;
		font-family: Verdana; 
	}
	
	
	.weekday-names 			{
		background-image: url("images/topbar.jpg");
		background-color: #FFFFFF;
		font-family: Verdana; 
		color: #000000;
		text-align: center; 
		font-size: 12px;
		font-weight: bold;
	}
	.menu-top  			{
		background-image: url("images/header.jpg");
		background-color: #FFFFFF;
		font-size: 13px; 
		color: #000000; 
		font-family: Verdana; 
		font-weight: bold;
		vertical-align: top;
	}

    .calCurrentDay  {
		background-color: #C0C0C0; 
		font-size: 11px; 
		color: #000000;
	}
    .calOtherDay    {
		font-size: 11px; 
		color: #000000;
	}
    .calNotDay	    {
		background-color: #FFFFFF; 
		font-size: 11px; 
		color: #000000;
	}

	.calweek	    {
		background-color: #E0E0E0;
		font-size: 20px; 
		color: #000000;
		text-align:  center; 
		vertical-align: middle;
	}
	.popup	    {
		background-color: #DDDDFF;
		border : 1px;
		border-width:1px;
		color: #000000;
	}

	FORM {
		margin: 0;
		padding: 0;
	}
	
	.remove_css {
        border-style: None;
	}

	INPUT, TEXTAREA, SELECT {
		border-width:1px;
		border-color:#000000;
    	border-style: solid;
		font-family : Verdana;
		font-size : 7pt;
		background-color : #FFFFFF;
		color : #000000;
	}